.StreamOverlay {
  user-select: none;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;

  #thumbnail {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }
}
